;; Analyzed by ClojureScript 1.7.228
{:name boot.cljs.main8501, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {parinfer-codemirror.editor parinfer-codemirror.editor, adzerk.boot-reload adzerk.boot-reload, reepl.helpers reepl.helpers, reepl.core reepl.core, reepl.code-mirror reepl.code-mirror, reepl.handlers reepl.handlers, adzerk.boot-cljs-repl adzerk.boot-cljs-repl, reepl.parinferize reepl.parinferize, reepl.example reepl.example, reepl.show-value reepl.show-value, reepl.subs reepl.subs, reepl.replumb reepl.replumb, reepl.show-function reepl.show-function, parinfer-codemirror.state parinfer-codemirror.state, parinfer-codemirror.example parinfer-codemirror.example, parinfer-codemirror.editor-support parinfer-codemirror.editor-support, reepl.timers reepl.timers, reepl.show-devtools reepl.show-devtools}, :imports nil}